In [1]:
import pandas as pd

In [2]:
s = pd.Series([10,20,30,40,69,85,74,96,45,36,15])

In [3]:
type(s)

pandas.core.series.Series

In [4]:
print(s)

0     10
1     20
2     30
3     40
4     69
5     85
6     74
7     96
8     45
9     36
10    15
dtype: int64

In [5]:
s1 = pd.Series([10, 20, 30], index=["a", "b", "c"])

In [8]:
s1["b"]

np.int64(20)

In [10]:
data = {
    "name": ["Alice", "Bob", "Charlie"],
    "age": [25, 30, 35],
    "city": ["Delhi", "Mumbai", "Bangalore"]
}

df = pd.DataFrame(data)
df

      name  age       city
0    Alice   25      Delhi
1      Bob   30     Mumbai
2  Charlie   35  Bangalore

In [16]:
df.

SyntaxError: invalid syntax (791285630.py, line 1)